{# ********** MAIN LAYOUT TOP NAVBAR ********** #}

<nav class="navbar-custom">
    <ul class="navbar-right list-inline mb-0 d-flex">

        <!-- Toggle Sidemenu button -->
        <li class="list-inline-item">
            <button id="button-collapse-left-menu" class="button-menu-mobile open-left waves-effect">
                <i class="mdi mdi-menu"></i>
            </button>
        </li>
    </ul>
    <!-- end toggle sidemenu -->
</nav>
