{# @var segments \Domain\Entity\Segment[] #}

{% extends "base.html.twig" %}

{% block body %}
    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
            </div>

            <!-- ========== Top Menu Start ========== -->
            {% include viewPaths.webAppCommon ~ 'top_navbar.html.twig' %}
            <!-- top menu end -->

        </div>
        <!-- Top Bar End -->

        <!-- ========== Left Sidebar Start ========== -->
        {% include viewPaths.webAppCommon ~ 'left_sidemenu.html.twig' %}
        <!-- left sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">

                    <div class="row mt-5 m-b-10">
                        <div class="col-10">
                            <h2>New Segment</h2>
                        </div>
                        <div class="col-2">
                            <a href="{{ path('home') }}" class="btn btn-outline-danger m-t-10">Regresar</a>
                        </div>
                    </div>
                    {% for flash_message in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Error!... </strong> {{ flash_message }}
                        </div>
                    {% endfor %}
                    {{ form_start(form, {'action': path('create_segment')}) }}

                    {{ form_end(form) }}
                </div>
            </div>
            <!-- end content -->



            <footer class="footer">
                © 2020 Delectatech
            </footer>
        </div>

        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->

{% endblock %}
